* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    text-align: center;
}

main {
    background-color: rgb(85, 84, 84);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    line-height: 2rem;
}

footer {
    background-color: rgb(12, 41, 41);
    color: aliceblue;
    width: 100%;
}

.desafio {
    border: solid;
    padding: 0.3em;
}

.formulario {
    background-color: cadetblue;
    padding: 1.5em;
}

.resultado {
    background-color: aliceblue;
    padding: 1em;

}