* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 10px;
    text-align: center;
    border-bottom: double 10px;
}

main {
    background-color: rgb(188, 185, 185);
    padding: 1em;
    text-align: center;
    line-height: 2rem;
    border: solid black;
    flex-grow: 1;
}

footer {
    background-color: rgb(12, 41, 41);
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 1rem;
    align-self: flex-end;
}

li {
    list-style: none;
}

.botao {
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(46, 46, 46);
    color: rgb(193, 193, 240);
    font-size: 1rem;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(102, 102, 238);
}

.desafiosIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: auto;
}

.desafio {
    border: double;
    border-radius: 5%;
    padding: 1.2em 0.8em 1.2em 0.8em;
    margin: 0.5rem;
    background-color: rgb(214, 217, 219);
    min-width: 12em;
}

.formulario {
    background-color: rgb(146, 207, 210);
    padding: 1.5em;
    text-align: left;
    line-height: 1.5em;
}

.resultado {
    background-color: grey;
    padding: 1em;
    line-height: 3rem;
    text-align: left;
}


#raiz {
    font-size: 2rem;
}